<!-- header-section start  -->
<header class="header">
  <div class="header__bottom">
    <div class="container">
      <nav class="navbar navbar-expand-xl align-items-center">
        <a class="site-logo site-title" href="index.html"><img src="assets/images/logo.png" alt="site-logo"><span class="logo-icon"><i class="flaticon-fire"></i></span></a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="menu-toggle"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav main-menu ml-auto">
            <li class="menu_has_children">
              <a href="#0">Home</a>
              <ul class="sub-menu">
                <li><a href="index.html">Home One</a></li>
                <li><a href="index-two.html">Home Two</a></li>
              </ul>
            </li>
            <li class="menu_has_children">
              <a href="#0">Games</a>
              <ul class="sub-menu">
                <li><a href="games.html">All Games</a></li>
                <li><a href="game-details.html">Game Details</a></li>
              </ul>
            </li>
            <li class="menu_has_children">
              <a href="#0">Blog</a>
              <ul class="sub-menu">
                <li><a href="blog-one.html">Blog One</a></li>
                <li><a href="blog-two.html">Blog Two</a></li>
                <li><a href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="menu_has_children">
              <a href="#0">pages</a>
              <ul class="sub-menu">
                <li><a href="about.html">About Us</a></li>
              </ul>
            </li>
            <li><a href="contact.html">contact</a></li>
          </ul>
          <div class="nav-right">
            <a href="#0" data-toggle="modal" data-target="#loginModal">join now</a>
          </div>
        </div>
      </nav>
    </div>
  </div><!-- header__bottom end -->
</header>
<!-- header-section end  -->
