<!-- hero section start -->
<section class="hero bg_img" [ngStyle]="{backgroundImage: 'url(assets/images/bg/hero.jpg)'}">
  <div class="hero__shape">
    <img src="assets/images/elements/hero/shape-2.png" alt="image">
  </div>
  <div class="el-1"><img src="assets/images/elements/hero/el-1.png" alt="image"></div>
  <div class="el-2"><img src="assets/images/elements/hero/el-2.png" alt="image"></div>
  <div class="el-3"><img src="assets/images/elements/hero/el-3.png" alt="image"></div>
  <div class="el-4"><img src="assets/images/elements/hero/el-4.png" alt="image"></div>
  <div class="el-5"><img src="assets/images/elements/hero/el-5.png" alt="image"></div>
  <div class="el-6"><img src="assets/images/elements/hero/el-6.png" alt="image"></div>
  <div class="el-7"><img src="assets/images/elements/hero/el-7.png" alt="image"></div>
  <div class="el-8"><img src="assets/images/elements/hero/el-8.png" alt="image"></div>
  <div class="el-9"><img src="assets/images/elements/hero/el-9.png" alt="image"></div>
  <div class="el-10"><img src="assets/images/elements/hero/el-10.png" alt="image"></div>
  <div class="el-11"><img src="assets/images/elements/hero/el-11.png" alt="image"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="hero__content">
          <span class="hero__sub-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">Pixow Studio</span>
          <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Build, Publish & Play</h2>
          <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">New ideas pump out every day with Pixow Studio</p>
          <a routerLink="/home" class="cmn-btn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">Take a look!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero section end -->

<!-- <button (click)="to()">to games routing</button>
<p>home works!</p>
<h2>{{ 'TEST' | translate }}</h2> -->