<!-- hero section start -->
<section class="hero bg_img" [ngStyle]="{backgroundImage: 'url(assets/images/bg/hero.jpg)'}">
  <div class="hero__shape">
    <img src="assets/images/elements/hero/shape-2.png" alt="image">
  </div>
  <div class="el-1"><img src="assets/images/elements/hero/el-1.png" alt="image"></div>
  <div class="el-2"><img src="assets/images/elements/hero/el-2.png" alt="image"></div>
  <div class="el-3"><img src="assets/images/elements/hero/el-3.png" alt="image"></div>
  <div class="el-4"><img src="assets/images/elements/hero/el-4.png" alt="image"></div>
  <div class="el-5"><img src="assets/images/elements/hero/el-5.png" alt="image"></div>
  <div class="el-6"><img src="assets/images/elements/hero/el-6.png" alt="image"></div>
  <div class="el-7"><img src="assets/images/elements/hero/el-7.png" alt="image"></div>
  <div class="el-8"><img src="assets/images/elements/hero/el-8.png" alt="image"></div>
  <div class="el-9"><img src="assets/images/elements/hero/el-9.png" alt="image"></div>
  <div class="el-10"><img src="assets/images/elements/hero/el-10.png" alt="image"></div>
  <div class="el-11"><img src="assets/images/elements/hero/el-11.png" alt="image"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="hero__content">
          <span class="hero__sub-title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.3s">Pixow Studio</span>
          <h2 class="hero__title wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.5s">Build, Publish & Play</h2>
          <p class=" wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.7s">New ideas pump out every day with Pixow Studio</p>
          <a href="#trailer" class="cmn-btn wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">Take a look!</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- hero section end -->

<!-- game section start -->
<section class="pt-120 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="section-header text-center has--bg">
          <div class="header-image"><img src="assets/images/elements/header-el.png" alt="image"></div>
          <h2 class="section-title">Featured Posts associated with NFT</h2>
        </div>
      </div>
    </div><!-- row end -->
    <div class="row mb-none-40">
      <div class="col-lg-12 mb-40 single-game">
        <div class="game-card style--two">
          <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <div class="game-card__details">
              <div class="game-card__info">
                <div class="thumb-wrapper">
                  <div class="thumb"><img src="assets/images/games/s1.png" alt="image"></div>
                  <div class="game-card__ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>(4.5)</span>
                  </div>
                </div>
                <div class="content">
                  <h3 class="game-card__title"><a href="game-details.html">Epic Adventure Set</a></h3>
                  <p>Build your castle, dungeon and any fantastic things with the Epic Adventure Asset set!</p>
                  <!-- <a href="game-details.html" class="mt-3">Read More</a> -->
                </div>
              </div>
            </div>
          </div><!-- game-card__content end -->
          <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <img src="assets/images/games/b1.png" alt="image">
          </div>
          <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
            <div class="left">
              <div class="thumb"><img src="assets/images/games/m1.png" alt="image" class="w-100"></div>
              <div class="thumb"><img src="assets/images/games/m2.png" alt="image" class="w-100"></div>
            </div>
            <div class="right">
              <div class="caption">FIND IT ON</div>
              <div class="apps-btn">
                <a href="#0"><img src="assets/images/elements/opensea-btn.png" alt="image"></a>
                <!-- <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a> -->
              </div>
            </div>
          </div>
        </div><!-- game-card end -->
      </div><!-- single-game end -->
      <div class="col-lg-12 mb-40 single-game">
        <div class="game-card style--two">
          <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <div class="game-card__details">
              <div class="game-card__info">
                <div class="thumb-wrapper">
                  <div class="thumb"><img src="assets/images/games/s2.png" alt="image"></div>
                  <div class="game-card__ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(4.0)</span>
                  </div>
                </div>
                <div class="content">
                  <h3 class="game-card__title"><a href="game-details.html">Bubblegum Star Station Set</a></h3>
                  <p>Floating, squeezing, blowing your mind into the endless space! Bubblegum Star Station is waiting for an outsider like you.</p>
                  <!-- <a href="game-details.html" class="mt-3">Read More</a> -->
                </div>
              </div>
            </div>
          </div><!-- game-card__content end -->
          <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <img src="assets/images/games/b2.png" alt="image">
          </div>
          <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
            <div class="left">
              <div class="thumb"><img src="assets/images/games/m3.png" alt="image" class="w-100"></div>
              <div class="thumb"><img src="assets/images/games/m4.png" alt="image" class="w-100"></div>
            </div>
            <div class="right">
              <div class="caption">FIND IT ON</div>
              <div class="apps-btn">
                <a href="#0"><img src="assets/images/elements/opensea-btn.png" alt="image"></a>
                <!-- <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a> -->
              </div>
            </div>
          </div>
        </div><!-- game-card end -->
      </div><!-- single-game end -->
      <div class="col-lg-12 mb-40 single-game">
        <div class="game-card style--two">
          <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <div class="game-card__details">
              <div class="game-card__info">
                <div class="thumb-wrapper">
                  <div class="thumb"><img src="assets/images/games/s3.png" alt="image"></div>
                  <div class="game-card__ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <span>(4.0)</span>
                  </div>
                </div>
                <div class="content">
                  <h3 class="game-card__title"><a href="game-details.html">Phantom Cinema Set</a></h3>
                  <p>Discover a weird and hilarious cinema people believe where lives a phantom who will exchange immortality for laugh, and the movies never stop playing…</p>
                  <!-- <a href="game-details.html" class="mt-3">Read More</a> -->
                </div>
              </div>
            </div>
          </div><!-- game-card__content end -->
          <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <img src="assets/images/games/b3.png" alt="image">
          </div>
          <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
            <div class="left">
              <div class="thumb"><img src="assets/images/games/m5.png" alt="image" class="w-100"></div>
              <div class="thumb"><img src="assets/images/games/m6.png" alt="image" class="w-100"></div>
            </div>
            <div class="right">
              <div class="caption">FIND IT ON</div>
              <div class="apps-btn">
                <a href="#0"><img src="assets/images/elements/opensea-btn.png" alt="image"></a>
                <!-- <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a> -->
              </div>
            </div>
          </div>
        </div><!-- game-card end -->
      </div><!-- single-game end -->
      <div class="col-lg-12 mb-40 single-game">
        <div class="game-card style--two">
          <div class="game-card__content wow fadeInRight" data-wow-duration="0.5s" data-wow-delay="0.7s">
            <div class="game-card__details">
              <div class="game-card__info">
                <div class="thumb-wrapper">
                  <div class="thumb"><img src="assets/images/games/s4.png" alt="image"></div>
                  <div class="game-card__ratings">
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star"></i>
                    <i class="fas fa-star-half-alt"></i>
                    <span>(4.5)</span>
                  </div>
                </div>
                <div class="content">
                  <h3 class="game-card__title"><a href="game-details.html">Royal Banquet Set</a></h3>
                  <p>The elder king has passed away. 7 royal families are seeing who will be crowned. Continue writing your own stories to decide who will be the king. </p>
                  <!-- <a href="game-details.html" class="mt-3">Read More</a> -->
                </div>
              </div>
            </div>
          </div><!-- game-card__content end -->
          <div class="game-card__thumb wow zoomIn" data-wow-duration="0.5s" data-wow-delay="0.3s">
            <img src="assets/images/games/b4.png" alt="image">
          </div>
          <div class="game-card__footer wow fadeInUp" data-wow-duration="0.5s" data-wow-delay="0.9s">
            <div class="left">
              <div class="thumb"><img src="assets/images/games/m7.png" alt="image" class="w-100"></div>
              <div class="thumb"><img src="assets/images/games/m8.png" alt="image" class="w-100"></div>
            </div>
            <div class="right">
              <div class="caption">FIND IT ON</div>
              <div class="apps-btn">
                <a href="#0"><img src="assets/images/elements/opensea-btn.png" alt="image"></a>
                <!-- <a href="#0"><img src="assets/images/elements/google-btn.png" alt="image"></a> -->
              </div>
            </div>
          </div>
        </div><!-- game-card end -->
      </div><!-- single-game end -->
    </div>
    <!-- <div class="row mt-50">
      <div class="col-lg-12 text-center">
        <a href="games.html" class="cmn-btn btn--lg">view all games</a>
      </div>
    </div> -->
  </div>
</section>
<!-- game section end -->

<!-- trailer section start -->
<section class="trailer_bg" [ngStyle]="{backgroundImage: 'url(assets/images/bg/video.jpg)'}">
  <div class="trailer_head" [ngStyle]="{backgroundImage: 'url(assets/images/elements/header-el.png)'}">
    <h1>Pixow Studio Trailer</h1>
  </div>
</section>

<section id="trailer" class="container trailer_container">
  <div class="trailer_items">
    <div class="trailer_thumbnail" id="thumbnail" onclick="closeThumbnail(this)">
      <img src="assets/images/bg/video-thumb.png" alt="First Game Trailer">
      <a href="javascript:void(0)" class="play_button">
        <i class="fas fa-play"></i>
      </a>
    </div>
    <div class="trailer_video">
      <video src="assets/videos/editor.mp4" controls width="1110" height="498"></video>
      <!-- <iframe src="https://www.youtube.com/embed/Hru2DdJxFZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
    </div>
  </div>

  <!--  
  <div class="trailer_items">
    <div class="trailer_thumbnail" id="thumbnail" onclick="closeThumbnail(this)">
      <img src="assets/images/bg/trailer_two.jpg" alt="First Game Trailer">
      <a href="javascript:void(0)" class="play_button">
        <i class="fas fa-play"></i>
      </a>
    </div>
    <div class="trailer_video">
      <iframe src="https://www.youtube.com/embed/F4ym-99UNLM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="trailer_items">
    <div class="trailer_thumbnail" id="thumbnail" onclick="closeThumbnail(this)">
      <img src="assets/images/bg/trailer_three.jpg" alt="First Game Trailer">
      <a href="javascript:void(0)" class="play_button">
        <i class="fas fa-play"></i>
      </a>
    </div>
    <div class="trailer_video">
      <iframe src="https://www.youtube.com/embed/ssrNcwxALS4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="trailer_items">
    <div class="trailer_thumbnail" id="thumbnail" onclick="closeThumbnail(this)">
      <img src="assets/images/bg/trailer_four.jpg" alt="First Game Trailer">
      <a href="javascript:void(0)" class="play_button">
        <i class="fas fa-play"></i>
      </a>
    </div>
    <div class="trailer_video">
      <iframe src="https://www.youtube.com/embed/oSR1cdqkMkU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="trailer_items">
    <div class="trailer_thumbnail" id="thumbnail" onclick="closeThumbnail(this)">
      <img src="assets/images/bg/trailer_five.jpg" alt="First Game Trailer">
      <a href="javascript:void(0)" class="play_button">
        <i class="fas fa-play"></i>
      </a>
    </div>
    <div class="trailer_video">
      <iframe src="https://www.youtube.com/embed/7YnopWO4X_Q" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  -->

  <div class="trailer_details">
    <!-- <a class="prev" onclick="plusSlides(-1)">Prev</a>
    <a class="next" onclick="plusSlides(1)">Next</a> -->
    <div class="game_content">
      <h4>Build a Night Club with Pixow Studio</h4>
      <!-- <a href="game-details.html" target="_blank">View Details</a> -->
    </div>
    <!-- 
    <div class="game_content">
      <h4>The Second Farm Game</h4>
      <a href="games.html" target="_blank">View Details</a>
    </div>
    <div class="game_content">
      <h4>The Third Farm Game</h4>
      <a href="about.html" target="_blank">View Details</a>
    </div>
    <div class="game_content">
      <h4>The Fourth Farm Game</h4>
      <a href="blog-details.html" target="_blank">View Details</a>
    </div>
    <div class="game_content">
      <h4>The Fifth Farm Game</h4>
      <a href="blog-two.html" target="_blank">View Details</a>
    </div>
     -->
  </div>
</section>
<!-- trailer section end -->

<!-- about section start -->
<section class=" pt-120 pb-120 position-relative overflow-hidden">
  <div class="about-obj-1" data-paroller-factor="-0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-1.png" alt="image"></div>
  <div class="about-obj-2" data-paroller-factor="0.08" data-paroller-type="foreground" data-paroller-direction="horizontal"><img src="assets/images/elements/about-obj-2.png" alt="image"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="about-content">
          <div class="section-header has--bg">
            <div class="header-image style--two"><img src="assets/images/elements/header-el-2.png" alt="image"></div>
            <h2 class="section-title">We make it worth sharing, building and playing</h2>
          </div>
          <p>Our main focus is to help our creators make great things. We place key emphasis on designing methods that help people build various assets and games which can also be worthy. This means that everything you make can be priced with cryptocurrency, and can be traded on any marketplaces supporting NFT trading! We always make it open and free for everyone who embraces decentralization.</p>
          <!-- <a href="about.html" class="cmn-btn mt-5">learn more</a> -->
        </div>
      </div>
      <div class="col-lg-4 mt-lg-0 mt-4">
        <div class="about-thumb">
          <img src="assets/images/elements/about-player.png" alt="image" class="image-1">
          <img src="assets/images/elements/about-phone.png" alt="image" class="image-2">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->

<!-- <button (click)="to()">to games routing</button>
<p>home works!</p>
<h2>{{ 'TEST' | translate }}</h2> -->