.hero {
  padding-top: 245px;
  padding-bottom: 300px;
  position: relative;
  @media (max-width: 1199px) {
    .hero {
      padding-top: 200px;
      padding-bottom: 190px; } }

  .hero__shape {
    position: absolute;
    bottom: -2px;
    left: 0;
    img {
      width: 100%;
    }
  }

  .hero__content p {
    font-size: 24px;
    color: #ffffff; }
    @media (max-width: 1199px) {
      .hero__content p {
        font-size: 18px; } }
    @media (max-width: 767px) {
      .hero__content p {
        font-size: 16px; } }
  .hero__content .cmn-btn {
    margin-top: 40px; }
  .hero__sub-title {
    font-size: 28px;
    color: #f91e68;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-weight: 700; }
    @media (max-width: 1199px) {
      .hero__sub-title {
        font-size: 20px; } }
    @media (max-width: 767px) {
      .hero__sub-title {
        font-size: 18px; } }
    @media (max-width: 480px) {
      .hero__sub-title {
        font-size: 16px; } }
  .hero__title {
    font-size: 80px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 1.1; }
    @media (max-width: 1199px) {
      .hero__title {
        font-size: 62px; } }
    @media (max-width: 767px) {
      .hero__title {
        font-size: 48px; } }
    @media (max-width: 480px) {
      .hero__title {
        font-size: 32px; } }
  [class*="el-"] {
    position: absolute; }
    @media (max-width: 1450px) {
      [class*="el-"] img {
        width: 80%; } }
    @media (max-width: 991px) {
      [class*="el-"] img {
        width: 50%; } }
  .el-1 {
    top: 17%;
    left: 42%; }
  .el-2 {
    left: 5%;
    bottom: 33%; }
  .el-3 {
    right: 5%;
    bottom: 14%; }
  .el-4 {
    right: 19%;
    bottom: 12%; }
    @media (max-width: 1199px) {
      .el-4 img {
        width: 50%; } }
    @media (max-width: 991px) {
      .el-4 img {
        width: 40%; } }
  .el-5 {
    top: 26%;
    left: 53%; }
  .el-6 {
    top: 13%;
    left: 6%; }
  .el-7 {
    top: 3%;
    right: 8%; }
  .el-8 {
    top: 26%;
    right: 16%; }
  .el-9 {
    right: 44%;
    bottom: 42%; }
  .el-10 {
    top: 44%;
    right: 35%; }
  .el-11 {
    top: 44%;
    right: 11%; }
}